{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<header class="masthead text-center text-white d-flex">
    <div class="gradient-overlay"></div>
    <div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
            {% comment %} <strong>Your Favorite Source of Free Bootstrap Themes</strong> {% endcomment %}
            <strong>General Artificial Intelligence</strong>
        </h1>
        <hr>
        </div>
        <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
    </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">We've got what you need!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
    </div>
    </div>
</section>

<section id="services">
    <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="my-4">
        </div>
    </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
            <h3 class="mb-3">Sturdy Templates</h3>
            <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
            <h3 class="mb-3">Ready to Ship</h3>
            <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
            <h3 class="mb-3">Up to Date</h3>
            <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
            <h3 class="mb-3">Made with Love</h3>
            <p class="text-muted mb-0">You have to make your websites with love these days!</p>
        </div>
        </div>
    </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
        <h2 class="section-heading">{% trans "Portfolio" %}</h2>
        <hr class="my-4">
        </div>
    </div>
    </div>
    <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
        {% comment %} <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
            <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/1.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                Category
                </div>
                <div class="project-name">
                Project Name
                </div>
            </div>
            </div>
        </a>
        </div>
        <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
            <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/2.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                Category
                </div>
                <div class="project-name">
                Project Name
                </div>
            </div>
            </div>
        </a>
        </div>
        <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
            <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/3.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                Category
                </div>
                <div class="project-name">
                Project Name
                </div>
            </div>
            </div>
        </a>
        </div>
        <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
            <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/4.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                Category
                </div>
                <div class="project-name">
                Project Name
                </div>
            </div>
            </div>
        </a>
        </div>
        <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
            <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/5.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                Category
                </div>
                <div class="project-name">
                Project Name
                </div>
            </div>
            </div>
        </a>
        </div>
        <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
            <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/6.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                Category
                </div>
                <div class="project-name">
                Project Name
                </div>
            </div>
            </div>
        </a>
        </div> {% endcomment %}
        <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.researchgate.net/publication/275949439_Anticipatory_EEG_Signals_for_Detecting_and_Classifying_Game_Interaction_Onset" target="_blank">
            <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/paper-1.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                Paper
                </div>
                <div class="project-name">
                Anticipatory EEG Signals for Detecting and Classifying Game Interaction Onset
                </div>
            </div>
            </div>
        </a>
        </div>
        <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.researchgate.net/publication/319069238_A_Novel_Procedure_for_Classification_of_Early_Human_Actions_from_EEG_Signals" target="_blank">
            <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/paper-2.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                Paper
                </div>
                <div class="project-name">
                A Novel Procedure for Classification of Early Human Actions from EEG Signals
                </div>
            </div>
            </div>
        </a>
        </div>
        <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.researchgate.net/publication/319205987_A_Deep_Learning_Approach_for_Classification_of_Reaching_Targets_from_EEG_Images" target="_blank">
            <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/paper-3.png' %}" alt="">
            <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                Paper
                </div>
                <div class="project-name">
                A Deep Learning Approach for Classification of Reaching Targets from EEG Images
                </div>
            </div>
            </div>
        </a>
        </div>
    </div>
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container text-center">
    <h2 class="mb-4">{% trans "Subscribe to our mailing list" %}</h2>
    {% comment %} <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a> {% endcomment %}

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="https://gtechai.us19.list-manage.com/subscribe/post?u=2e66b89b184054b1fc6c2cb37&amp;id=0f884b9cab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        
        <input type="email" value="" name="EMAIL" class="email my_email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2e66b89b184054b1fc6c2cb37_0f884b9cab" tabindex="-1" value=""></div>
        {% comment %} <a class="btn btn-light btn-xl sr-button" >Download Now!</a> {% endcomment %}
        {% comment %} <button class="btn btn-light btn-xl sr-button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button> {% endcomment %}
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button my_mc_button"></div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->
    </div>
</section>
{% endblock content %}

{% comment %} <!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script> {% endcomment %}